@media screen and (max width: 480){
  div{
    width: 50%
  }
}

body {
  background: rgba(203, 203, 210, 0.15);
}
html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.main-container{
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%;
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer-container{
  text-align: center;
}
.img-fluid {
  max-width: 100%;
  max-height: 100%;
}
#registration{
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
}

#scan-alert {
  position: absolute;
  left: 0;
  top: 32%;
  width: 100%;
  text-align: center;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
#welcome {
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
}
#name{
  position: absolute;
  left: 0;
  top: 155%;
  width: 100%;
}
#department{
  position: absolute;
  left: 0;
  top: 195%;
  width: 100%;
}
#company{
  position: absolute;
  left: 0;
  top: 220%;
  width: 100%;
}

#preview {
  width: 300px;
  height: 300px;
  outline: 1px solid red;
  visibility: hidden;
}
